.c-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  min-height: 5rem;
  background-color: rgba(0, 0, 0, 0.21);

  .btn-menu-header{
    color: #fff;
    margin-top: -5px;
    margin-right: -1rem;
    i{
      font-size: 1.8rem;
    }
  }
  .logo{
    color: #fff;
    text-decoration: none;
    font-family: $after-shok;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }
  .buttons{
    padding-right: 1rem;
    a{
      display: inline-block;
      color: #fff;
      padding: 0.5rem 1rem;
      min-width: 2.9rem;
      margin-left: 0.75rem;
      @include borderRadius(3px);
      @include animation(200ms);
      span{
        display: inline-block;
        vertical-align: top;
        margin: 0.3rem 0 0 0.5rem;
      }
      i.icon{
        font-size: 1.4rem;
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.11);
      }
      &.selected{
        background-color: #009688;
        cursor: default;
      }
    }
  }
}