<div layout="column" layout-align="center center">
    <div layout="row" layout-align="center center">
        <md-button class="md-icon-button btn-menu-header"
                   ng-if="$root.user && $root.$state.current.name != 'home'"
                   hide-gt-md
                   ng-click="openLeftMenu()" aria-label="Menu">
            <i class="icon ion-navicon-round"></i>
        </md-button>
        <a ui-sref="home" class="logo">Cosmonauts</a>
    </div>
</div>
<div layout="column" flex>
    <div layout="row" ng-if="$root.user" layout-align="end center" class="buttons">
        <a ui-sref="user.profile" ng-class="{'selected': $root.$state.current.name == 'user.profile'}">
            <i class="icon ion-person"></i>
            <span hide-xs>Ahoj, {{$root.user.name}}</span>
            <md-tooltip hide-gt-xs md-direction="bottom">Profil</md-tooltip>
        </a>
        <a ui-sref="logout">
            <i class="icon ion-log-out"></i>
            <span hide-xs>Odhlásit se</span>
            <md-tooltip hide-gt-xs md-direction="bottom">Odhlásit se</md-tooltip>
        </a>
    </div>
</div>