.profile-section{
  max-width: 500px;
  background-color: #fff385;
  @include borderRadius(3px);
  padding: 25px;
  margin: 0 auto;
  display: block;
  width: 100%;
  h1, h3{
    margin: 0;
  }
  h1{
    font-size: 2rem;
  }
  h3{
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .list-of-cosmonaut{
    padding: 0 8px;
    text-transform: none;
    background-color: $btn-add-bg;
    color: #fff;
    min-width: 40px;
    margin: 0;
    &:not([disabled]):hover{
      background-color: $btn-add-bg-hover;
    }
  }
}