<section class="profile-section" layout="column">
    <h1>Ahoj, {{$root.user.name}}</h1>
    <h3>Tento web je navržen tak, aby vytvořit svůj seznam kosmonautů</h3>
    <div layout="row" flex>
        <md-button ui-sref="user.cosmonauts.list"
                   class="list-of-cosmonaut">
            <i class="icon ion-android-list"></i>
            <span>Seznam kosmonautů</span>
        </md-button>
    </div>
</section>