.cosmonauts-ui-view{
  .add-new-cosmonaut{
    padding: 0 8px;
    text-transform: none;
    background-color: $btn-add-bg;
    color: #fff;
    min-width: 40px;
    &:not([disabled]):hover{
      background-color: $btn-add-bg-hover;
    }
    i{
      font-size: 1.2rem;
    }
  }
  .list-of-cosmonauts{
    position: relative;
    md-table-container{
      width: 100%;
      border: 1px solid #e5e5e5;
      .md-body{
        tr{
          cursor: pointer;
          &:hover{
            background-color: #f2f2f2;
          }
        }
      }
      td{
        white-space: nowrap;
      }
      .actions-cell{
        button, a{
          border: none;
          background-color: #e6e6e6;
          padding: 5px 10px;
          @include borderRadius(3px);
          outline: none;
          @include animation(200ms);
          color: #333;
          display: inline-block;
          //height: 17px;
          vertical-align: top;
          &:hover{
            background-color: #2196f3;
            color: #fff;
          }
        }
      }
    }
  }
}