<div layout="row" flex class="title-section" layout-align="start center">
    <h1>Kosmonauti <strong>({{cosmonauts.count}})</strong></h1>
    <span flex></span>
    <md-button ng-click="addCosmonaut($event)"
               class="add-new-cosmonaut">
        <i class="icon ion-android-add"></i>
        <span hide-xs>Přidat noveho kosmonauta</span>
    </md-button>
</div>

<div layout="row" class="filter-by-search">
    <i class="icon ion-ios-search-strong"></i>
    <md-input-container md-no-float class="md-block">
        <input type="text" ng-model="query.search_text" ng-keyup="getCosmonauts()"
               placeholder="Vyhledát podle Jména, Příjmení, Elektronicke pošty, Telefonu, Osobního čísla">
    </md-input-container>
</div>

<div layout="row" flex class="list-of-cosmonauts">
    <div layout="column" flex>
        <!-- exact table from live demo -->
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getCosmonauts">
                <tr md-row>
                    <th md-column md-order-by="first_name"><span>Jméno</span></th>
                    <th md-column md-order-by="last_name"><span>Příjmení</span></th>
                    <th md-column md-order-by="email">Elektronická pošta</th>
                    <th md-column md-order-by="phone">Telefon</th>
                    <th md-column md-order-by="dob">Datum narození</th>
                    <th md-column md-order-by="created_at">Přidáno</th>
                    <th md-column md-order-by="gender">Pohlaví</th>
                    <th md-column md-order-by="personal_number">Osobní číslo</th>
                    <th md-column md-order-by="is_verified">Je ověřen</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-click="openCosmonaut(cosmonaut.id)"
                    ng-repeat="cosmonaut in cosmonauts.data"
                    title="Podrobnosti: {{cosmonaut.first_name}} {{cosmonaut.last_name}}">
                    <td md-cell>{{cosmonaut.first_name}}</td>
                    <td md-cell>{{cosmonaut.last_name}}</td>
                    <td md-cell>{{cosmonaut.email}}</td>
                    <td md-cell>{{cosmonaut.phone | phone}}</td>
                    <td md-cell>{{cosmonaut.dob | date}}</td>
                    <td md-cell>{{cosmonaut.created_at | date}}</td>
                    <td md-cell>{{cosmonaut.gender | gender}}</td>
                    <td md-cell>{{cosmonaut.personal_number}}</td>
                    <td md-cell>
                        <i class="icon ion-android-done" ng-show="cosmonaut.is_verified == true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="paginationOptions"
                             md-page="query.page" md-total="{{cosmonauts.count}}"
                             md-on-paginate="getCosmonauts" md-page-select>
        </md-table-pagination>
    </div>

</div>
