.cosmonauts-ui-view{
  .button-title{
    background-color: #d4d4d4;
    text-transform: none;
    min-width: 36px;
    padding: 0 12px;
    margin: 0 0 1rem 0;
    &.edit-cosmonaut{
      margin-right: 1rem;
    }
    span{
      margin-left: 8px;
    }
  }
  .back-to-list{
    margin-right: 15px;
  }

  .cosmonaut-data{
    border: 1px solid #dfdfdf;
    margin-top: 20px;
    font-weight: 500;
    @include borderRadius(3px);
    .table-row{
      .cell{
        border-bottom: 1px solid #dfdfdf;
        padding: 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        span,a{
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &.title-cell{
          white-space: nowrap;
          text-align: right;
          border-right: 1px solid #dfdfdf;
        }
        &:first-child{
          text-align: right;
        }
        &:last-child{
          text-align: left;
        }
      }
      &:last-child{
        .cell{
          border-bottom: none;
        }
      }
    }
  }
}