<div layout="row" layout-wrap flex class="title-section" layout-align="start center">
    <div layout="column">
        <md-button ui-sref="user.cosmonauts.list"
                   class="button-title back-to-list">
            <i class="icon ion-arrow-left-c"></i><span>Zpět</span>
        </md-button>
    </div>

    <h1 layout="column">
        <span>{{cosmonaut.first_name}} {{cosmonaut.last_name}}</span>
        <small>Kosmonaut</small>
    </h1>

    <span flex flex-xs="100"></span>
    <br hide-gt-sm/>
    <md-button ng-click="editCosmonaut($event)"
               ng-disabled="isLoading"
               class="button-title edit-cosmonaut">
        <i class="icon ion-edit"></i><span>Upravit</span>
    </md-button>
    <md-button ng-click="deleteCosmonaut($event)"
               ng-disabled="isLoading"
               class="button-title delete-cosmonaut">
        <i class="icon ion-ios-trash"></i><span>Vymazat</span>
    </md-button>
</div>

<div layout="row" flex ng-if="isLoading">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div layout="row" flex class="cosmonaut-data">
    <div layout="column" flex>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Jmeno:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.first_name}} {{cosmonaut.last_name}}</span>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Datum narození:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.dob | date}}</span>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Elektronická pošta:</span>
            </div>
            <div class="cell" flex>
                <a ng-href="mailto:{{cosmonaut.email}}">{{cosmonaut.email}}</a>
            </div>
        </div>
        <div layout="row" class="table-row" ng-if="cosmonaut.phone">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Telefon:</span>
            </div>
            <div class="cell" flex>
                <a ng-href="tel:{{cosmonaut.phone}}">{{cosmonaut.phone | phone}}</a>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Pohlaví:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.gender | gender}}</span>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Osobní číslo:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.personal_number}}</span>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Superschopnosti:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.superpowers | superpowers}}</span>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Přidáno:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.created_at | date}}</span>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Aktualizováno:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.updated_at | date}}</span>
            </div>
        </div>
        <div layout="row" class="table-row">
            <div class="cell title-cell" flex="50" flex-gt-sm="20">
                <span>Přidal:</span>
            </div>
            <div class="cell" flex>
                <span>{{cosmonaut.user.name}}</span>
            </div>
        </div>
    </div>

</div>