.home-content{
  background-color: transparent;
  height: 100%;
  #particles-js{
    position: absolute;
    z-index: 1;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
  .home-content-main-column{
    z-index: 2;
    padding-bottom: 2rem;
  }
  h2.title{
    color: #fff;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.9rem;
    max-width: 500px;
    text-align: center;
    padding: 0 1rem;
    margin-top: 7rem;
  }
  .left-side{
    padding: 0 2rem;
    img{
      max-width: 400px;
      width: 100%;
    }
  }
  .right-side{
    z-index: 4;
    position: relative;
    .sign-up{
      width: 100%;
      button{
        background-color: #2196f3;
        width: 100%;
        color: #fff;
        padding: 0.4rem 0;
        font-weight: 100;
        max-width: 300px;
        margin: 1rem auto;
        display: block;
        &:hover{
          background-color: #1984d8;
        }
      }
    }
    .login-panel{
      padding: 2rem;
      min-width: 300px;
      max-width: 300px;
      background-color: rgba(0, 0, 0, 0.21);
      @include borderRadius(3px);
      h1{
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        margin-top: 0;
        font-weight: 100;
        margin-bottom: 2rem;
        font-size: 1.5rem;
      }
      .progress-line{
        margin-top: 20px;
      }
      .md-button.md-raised[disabled]{
        color: $login-placeholder-color;
      }
      md-input-container{
        width: 100%;
        margin: 0 0 15px 0;
        padding: 0;
        .md-errors-spacer{
          display: none;
        }
        .md-input-message-animation{
          font-weight: 400;
        }
        input{
          color: #fff;
          background-color: rgba(0, 0, 0, 0.13);
          padding: 1.5rem 1rem 1.3rem;
          @include borderRadius(3px);
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $login-placeholder-color;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: $login-placeholder-color;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: $login-placeholder-color;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $login-placeholder-color;
          }
        }
      }
      .login-button{
        margin: 0;
      }
    }
  }
}