<md-content class="main-md-content home-content" layout="row" layout-align="center center" layout-align-xs="center start">
  <div id="particles-js" hide-xs hide-sm></div>
  <div layout="column" layout-align="center center" class="home-content-main-column">
    <div layout="row" layout-align="center center">
      <h2 class="title">Elektronická evidence kosmonautů</h2>
    </div>
    <div layout="row" layout-wrap>
      <div layout="column" flex-xs="100" flex-sm="100" class="left-side" layout-align="center center">
        <img ng-src="/images/cosmonauts.jpg" alt="Cosmonauts"/>
      </div>
      <div layout="column" flex-xs="100" flex-sm="100" class="right-side" layout-align="center center"
           ng-if="!$root.user && !storage.auth_token">
        <div class="sign-up">
          <md-button ng-click="signUp($event)">Registrace</md-button>
        </div>
        <div class="login-panel">

          <!-- Login Form ------------------------ start -->
          <form ng-cloak name="loginForm" ng-submit="login(loginData)">

            <div layout="row">
              <h1>Autorizace</h1>
            </div>

            <div layout="row">
              <md-input-container md-no-float class="md-block">
                <input ng-model="loginData.email" placeholder="Email" name="email" type="email" required
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" autocomplete="off" />
                <div ng-messages="loginForm.email.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Váš e-mail musí mít délku 10 až 100 znaků a vypadat jako e-mailová adresa.
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container md-no-float class="md-block">
                <input ng-model="loginData.password" placeholder="Password" name="password"
                       type="password" minlength="6" required autocomplete="off" />
                <div ng-messages="loginForm.password.$error" multiple role="alert">
                  <div ng-message="required">Zadejte své heslo</div>
                  <div ng-message="minlength">Heslo musí obsahovat alespoň 6 znaků</div>
                </div>
              </md-input-container>
            </div>

            <div layout="row">
              <md-button class="md-raised md-primary login-button"
                         type="submit" ng-disabled="loginForm.$invalid || isLoginLoading">
                Přihlásit
              </md-button>
            </div>

            <div layout="row" class="progress-line" ng-if="isLoginLoading">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>

          </form>
          <!-- Login Form ------------------------ end -->

        </div>
      </div>
    </div>
  </div>
</md-content>