<md-toast ng-class="['md-'+type+'-toast-theme']">
  <span class="md-toast-text" flex>{{text}}</span>
  <md-button ng-click="closeToast()">Ok</md-button>
  <md-progress-linear md-mode="determinate" value="{{determinateValue}}"></md-progress-linear>
</md-toast>