.settings-section{
  max-width: 500px;
  background-color: #f0f0f0;
  @include borderRadius(3px);
  padding: 25px;
  margin: 0 auto;
  display: block;
  width: 100%;
  h1, h3{
    margin: 0;
  }
  h1{
    font-size: 2rem;
  }
  h3{
    margin-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 1rem;
  }
  form{
    margin-top: 2rem;
    border: 1px solid #e1e1e1;
    width: 100%;
    padding: 20px;
    @include borderRadius(3px);
    .loading{
      margin-bottom: 15px;
    }
    md-input-container{
      width: 100%;
      .md-errors-spacer{
        display: none;
      }
    }
    .save-changes{
      margin: 0;
      background-color: #2196f3;
      color: #fff;
      text-transform: none;
      &:hover{
        background-color: #1a80d1;
      }
      &[disabled="disabled"]{
        background-color: #eee;
        cursor: default;
        color: #aaa;
      }
    }
  }
}