<section class="settings-section" layout="column" flex ng-if="$root.user">
    <h1>Nastavení</h1>
    <div layout="row" flex>
        <form ng-cloak name="userForm" ng-submit="updateUserData(userData)" ng-init="initUserData()">
            <h3>Změna Jmena</h3>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Celé jméno</label>
                    <input ng-model="userData.name" ng-pattern="/^[a-zA-Z-'. ]+$/" name="name"
                           required minlength="5" maxlength="100" autocomplete="off"/>
                    <div ng-messages="userForm.name.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Prosím, zadejte své celé jméno.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" ng-if="isLoading.data" class="loading">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <div layout="row">
                <md-button type="submit"
                           ng-disabled="userForm.$invalid || !userForm.$dirty || isLoading.data"
                           class="save-changes">Uložit změny</md-button>
            </div>
        </form>
    </div>
    <div layout="row" flex>
        <form ng-cloak name="passwordForm" ng-submit="updatePassword(passwordData)">
            <h3>Změna Hesla</h3>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Aktuální heslo</label>
                    <input ng-model="passwordData.current" name="current" type="password" required
                           minlength="6"/>
                    <div ng-messages="passwordForm.current.$touched && passwordForm.current.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength']">
                            Prosím, zadejte své aktuální heslo.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Nové heslo</label>
                    <input ng-model="passwordData.new_password" name="new_password"
                           type="password" required
                           minlength="6"/>
                    <div ng-messages="passwordForm.new_password.$touched && passwordForm.new_password.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength']">
                            Prosím, zadejte nové heslo. Minimalně 6 znaku.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Potvrďte heslo</label>
                    <input ng-model="passwordData.password_confirmation" name="password_confirmation"
                           type="password" required minlength="6"
                           ng-disabled="passwordForm.new_password.$invalid"/>
                    <div ng-messages="passwordForm.password_confirmation.$touched && passwordForm.password_confirmation.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength']">
                            Prosím, potvrďte nové heslo. Minimalně 6 znaku.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" ng-if="isLoading.password" class="loading">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <div layout="row">
                <md-button type="submit"
                           ng-disabled="passwordForm.$invalid || !passwordForm.$dirty || isLoading.password"
                           class="save-changes">Změnit heslo</md-button>
            </div>
        </form>
    </div>
</section>