.cosmonautForm{
  max-width: 600px;
  .dob{
    min-height: 60px;
  }
  .md-datepicker-expand-triangle{
    top: 12px;
  }
  .md-dialog-content{
    padding: 0;
  }
  md-tabs{
    md-content{
      padding: 1rem 2rem;
    }
    &.md-default-theme md-ink-bar, md-ink-bar {
      color: rgb(250, 183, 10);
      background: rgb(250, 183, 10);
    }
  }
  md-pagination-wrapper{
    width: 100% !important;
  }
  .superpowers-list{
    md-input-container{
      margin-top: 0;
    }
    .add-superpower{
      background-color: $btn-add-bg;
      color: #fff;
      text-transform: none;
      padding: 0 16px;
      margin: 0 5px;
      &:hover{
        background-color: $btn-add-bg-hover;
      }
      &[disabled="disabled"]{
        background-color: #eee;
        color: #aaa;
      }
    }
  }
  md-dialog-actions{
    button{
      margin: 0 1.3rem;
    }
    .save-button{
      background-color: #ffd25c;
      color: #111;
      text-transform: none;
      padding: 0 2rem;
      &:hover{
        background-color: #fab70a;
      }
      &[disabled="disabled"]{
        background-color: transparent;
        color: #aaa;
      }
    }
  }
}