<md-dialog class="cosmonautForm" aria-label="Add / Edit Cosmonaut">
    <form ng-cloak name="cosmonautForm" ng-submit="submit(cosmonautData)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{mode == 'create' ? 'Přidání nového kosmonauta' : 'Editace kosmonauta'}}</h2>
                <span flex></span>
                <md-button class="md-icon-button close-btn" ng-click="cancel()">
                    <i class="icon ion-android-close"></i>
                    <md-tooltip md-direction="left">Zavřít</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content flex-order="1">
            <div class="md-dialog-content" ng-if="cosmonautData">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Hlavni informace">
                            <md-content>
                                <div layout="row" layout-wrap>
                                    <div layout="column" flex="50" flex-xs="100">
                                        <md-input-container class="md-block">
                                            <label>Jméno</label>
                                            <input ng-model="cosmonautData.first_name" ng-pattern="/^[A-Za-z]+$/" name="first_name"
                                                   required minlength="1" maxlength="40" autocomplete="off"/>
                                            <div ng-messages="cosmonautForm.first_name.$error" role="alert">
                                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Prosím, zadejte jméno kosmonauta.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="column" flex="50" flex-xs="100">
                                        <md-input-container class="md-block">
                                            <label>Příjmení</label>
                                            <input ng-model="cosmonautData.last_name" ng-pattern="/^[A-Za-z]+$/" name="last_name"
                                                   required minlength="1" maxlength="40" autocomplete="off"/>
                                            <div ng-messages="cosmonautForm.last_name.$error" role="alert">
                                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Prosím, zadejte příjmení kosmonauta.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-wrap>
                                    <div layout="column" flex="50" flex-xs="100">
                                        <md-input-container class="md-block">
                                            <label>Elektronická pošta kosmonauta</label>
                                            <input ng-model="cosmonautData.email" name="email" type="email" required
                                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" autocomplete="off"/>
                                            <div ng-messages="cosmonautForm.email.$error" role="alert">
                                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    E-mail musí mít délku 10 až 100 znaků a vypadat jako e-mailová adresa.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="column" flex="50" flex-xs="100">
                                        <md-input-container class="md-block">
                                            <label>Telefon kosmonauta</label>
                                            <input ng-model="cosmonautData.phone" placeholder="(___) ___-__-__" name="phone" type="tel"
                                                   ui-mask="{{'(999) 999-99-99'}}"/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div layout="column" flex>
                                        <md-input-container class="md-block">
                                            <label>Osobni čislo kosmonauta</label>
                                            <input ng-model="cosmonautData.personal_number" name="personal_number"
                                                   type="text" required/>
                                            <div ng-messages="cosmonautForm.personal_number.$error" role="alert">
                                                <div ng-message-exp="['required']">
                                                    Prosím, zadejte osobni čislo kosmonauta.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" flex layout-wrap>
                                    <div layout="column" flex="100" flex-gt-xs="50">
                                        <md-input-container>
                                            <label>Pohlaví</label>
                                            <md-select ng-model="cosmonautData.gender" required>
                                                <md-option ng-repeat="gender in genders" ng-value="gender.value">
                                                    {{gender.title}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="cosmonautForm.gender.$error" role="alert">
                                                <div ng-message-exp="['required']">
                                                    Prosím, vyberete Pohlaví kosmonauta.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="column" flex="100" flex-gt-xs="50" layout-align="end start" class="dob">
                                        <md-datepicker ng-model="cosmonautData.dob"
                                                       name="dob"
                                                       md-placeholder="Datum narozeni"
                                                       md-max-date="maxDate"
                                                       required
                                                       md-open-on-focus></md-datepicker>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Superschopnost">
                            <md-content class="superpowers-list">
                                <div layout="row" ng-repeat="superpower in cosmonautData.superpowers track by $index">
                                    <div layout="column" flex>
                                        <md-input-container md-no-float class="md-block">
                                            <input ng-model="superpower.title"
                                                   placeholder="Superschopnost kosmonauta" name="superpowers_{{$index}}"
                                                   required minlength="3" maxlength="50" autocomplete="off"/>
                                        </md-input-container>
                                    </div>
                                    <div layout="column" ng-if="cosmonautData.superpowers.length > 1">
                                        <md-button class="md-icon-button" ng-click="deleteSuperpower($index)" aria-label="Odstranit Superschopnost">
                                            <i class="icon ion-trash-a"></i>
                                            <md-tooltip md-direction="left">Odstranit Superschopnost</md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-button class="add-superpower" ng-disabled="isInvalidSuperpowers(cosmonautForm)" ng-click="addSuperpower($event)">Přidat superschopnost</md-button>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </md-dialog-content>
        <div flex-order="2" ng-if="isLoading">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-dialog-actions layout="row" flex-order="3">
            <md-button class="save-button" type="submit" ng-disabled="cosmonautForm.$invalid || isLoading">
                {{ mode == 'create' ? 'Uložit' : 'Uložte změny'}}
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()">
                Zrušit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>