$background: #1a181d;
$success-toast: #368739;
$error-toast: #AE2B2B;
$open-sans: 'Open Sans';
$after-shok: 'After Shok';
$login-placeholder-color: #515151;
$btn-add-bg: #4CAF50;
$btn-add-bg-hover: #3c903f;

@mixin borderRadius($radius){
  border-radius:$radius;
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  -khtml-border-radius:$radius;
}

@mixin boxShadow($shadows...){
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin rotate($rotate){
  -ms-transform: rotate($rotate); /* IE 9 */
  -webkit-transform: rotate($rotate); /* Chrome, Safari, Opera */
  transform: rotate($rotate);
}

@mixin animation($time_){
  -webkit-transition:$time_ linear;
  -moz-transition:$time_ linear;
  -o-transition:$time_ linear;
  -ms-transition:$time_ linear;
  transition:$time_ linear;
}

@mixin linesLimit($count,$line_height){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $count; /* number of lines to show */
  line-height: $line_height;        /* fallback */
  height: $line_height*$count;       /* fallback */
}

html, body {
  background-color: $background;
  font-family: $open-sans;
  font-size: 13px;
  font-weight: 100;
}

a{
  text-decoration: none;
  outline: none;
}

md-content.main-md-content{
  max-width: 100%;
  margin: 0 auto;
}

md-toast{
  &.md-success-toast-theme .md-toast-content {
    background-color: $success-toast;
  }
  &.md-error-toast-theme .md-toast-content {
    background-color: $error-toast;
  }
  .md-toast-content{
    padding-bottom: 5px;
  }
  md-progress-linear{
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    width: auto;
    @include borderRadius(3px);
    overflow: hidden;
    &.md-default-theme .md-container, .md-container {
      background-color: rgba(0,0,0,0.21);
    }
  }
}

md-dialog{
  width: 100%;
  max-width: 350px;
  .md-button.md-default-theme.md-primary,
  .md-button.md-primary{
    &.md-cancel-button,
    &.md-confirm-button{
      color: #333;
    }
  }
  .close-btn{
    i{
      font-size: 26px;
      color: rgba(0, 0, 0, 0.29);
      @include animation(200ms);
    }
    &:hover{
      i{
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .md-dialog-content{
    md-input-container{
      width: 100%;
      font-weight: 500;
      margin-bottom: 15px;
      padding: 5px 0 0 0;
      .md-errors-spacer{
        display: none;
      }
      &.md-input-focused,
      &.md-input-has-value{
        label:not(.md-no-float){
          font-size: 1.2rem;
        }
      }
    }
    .layout-row{
      .layout-column{
        padding: 0 5px;
      }
      &:last-child{
        md-input-container{
          margin-bottom: 0;
        }
      }
    }
  }
  md-dialog-actions{
    padding: 1rem 1rem;
    background-color: #f2f2f2;
  }
}
