// Open Sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),local('OpenSans-Light'),url('fonts/open-sans/OS300.woff') format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),local('OpenSans'),url('fonts/open-sans/OS400.woff') format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'),local('OpenSans-Bold'),url('fonts/open-sans/OS700.woff') format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'),local('OpenSansLight-Italic'),url('fonts/open-sans/OS300I.woff') format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'),local('OpenSans-Italic'),url('fonts/open-sans/OS400I.woff') format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url('fonts/open-sans/OS700I.woff') format('woff')
}

// After Shok
@font-face{
  font-family: 'After Shok';
  src: url('fonts/after-shok/after-shok-webfont.eot');
  src: url('fonts/after-shok/after-shok-webfont.eot?iefix') format('eot'),
  url('fonts/after-shok/after-shok-webfont.woff') format('woff'),
  url('fonts/after-shok/after-shok-webfont.ttf') format('truetype'),
  url('fonts/after-shok/after-shok-webfont.svg#webfont') format('svg');
}