.profile-content{
  background-color: transparent;
  height: 100%;
  padding: 65px 0 0 0;
  max-width: 100% !important;
  .md-sidenav-menu{
    height: 100%;
    .md-toolbar-tools{
      button{
        i{
          font-size: 2rem;
        }
      }
    }
    .inner-menu{
      padding: 0;
      a.md-button{
        display: block;
        text-transform: none;
        color: #aaa;
        border-bottom: 1px solid #e3e3e3;
        margin: 0;
        padding: 5px 16px;
        width: 100%;
        text-align: left;
        @include borderRadius(0);
        @include animation(200ms);
        i,span{
          vertical-align: inherit;
        }
        i{
          font-size: 2rem;
        }
        span{
          margin-left: 0.75rem;
        }
        &:hover{
          color: #222;
        }
        &.selected{
          background-color: #141317;
          color: #fff;
        }
      }
    }
  }
  .profile-inner{
    height: 100%;
    .user-ui-view{
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
      .title-section {
        background-color: #e7e7e7;
        @include borderRadius(3px 3px 0 0);
        padding: 15px 20px;
        h1{
          margin: 0;
          color: #464646;
          font-weight: 100;
          span, small{
            display: block;
          }
          span{
            white-space: nowrap;
            overflow: hidden;
            max-width: 400px;
            text-overflow: ellipsis;
            width: auto;
            position: relative;
            display: inline-block;
            text-transform: capitalize;
          }
          small{
            font-size: 1rem;
          }
        }
      }
      .filter-by-search{
        background-color: #ececec;
        margin-bottom: 20px;
        padding: 15px 20px;
        @include borderRadius(0 0 3px 3px);
        i{
          font-size: 1.8rem;
          margin-right: 1rem;
        }
        md-input-container{
          width: calc(100% - 45px);
          margin: 0;
          .md-errors-spacer{
            display: none;
          }
        }
      }
    }
  }
}