<md-content class="main-md-content profile-content" layout="row" layout-align="center center">
    <md-sidenav
            class="md-sidenav-menu"
            md-component-id="menu"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <md-button ng-click="closeMenu()" class="md-icon-button"
                           aria-label="Skrýt Menu" hide-gt-md>
                    <i class="icon ion-arrow-left-c"></i>
                </md-button>

                <h2 flex md-truncate>Menu</h2>
            </div>
        </md-toolbar>

        <md-content layout-padding class="inner-menu">
            <md-button ng-repeat="button in menu"
                       ui-sref="{{button.state}}"
                       ng-click="closeMenu()"
                       ng-class="{'selected': isCurrentState(button)}"
                       class="md-primary">
                <i class="icon {{button.icon}}"></i>
                <span>{{button.title}}</span>
            </md-button>
        </md-content>

    </md-sidenav>

    <md-content flex layout-padding class="profile-inner">
        <div layout="column" layout-align="top start">
            <div ui-view class="user-ui-view"></div>
        </div>
    </md-content>

</md-content>