.signUpForm{
  md-dialog-actions{
    button{
      margin: 0 1rem;
    }
    .sign-up-button{
      background-color: #ffd25c;
      color: #111;
      text-transform: none;
      padding: 0 2rem;
      &:hover{
        background-color: #fab70a;
      }
      &[disabled="disabled"]{
        background-color: transparent;
        color: #aaa;
      }
    }
  }
}