<md-dialog class="signUpForm" aria-label="Registrace">
    <form ng-cloak name="signUpForm" ng-submit="signUp(signUpData)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Registrace</h2>
                <span flex></span>
                <md-button class="md-icon-button close-btn" ng-click="cancel()">
                    <i class="icon ion-android-close"></i>
                    <md-tooltip md-direction="left">Zavřít</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content flex-order="1">
            <div class="md-dialog-content">
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Celé jméno</label>
                        <input ng-model="signUpData.name" ng-pattern="/^[a-zA-Z-'. ]+$/" name="name"
                               required minlength="5" maxlength="100" autocomplete="off"/>
                        <div ng-messages="signUpForm.name.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Prosím, zadejte své celé jméno.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Elektronická pošta</label>
                        <input ng-model="signUpData.email" name="email" type="email" required
                               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" autocomplete="off"/>
                        <div ng-messages="signUpForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Váš e-mail musí mít délku 10 až 100 znaků a vypadat jako e-mailová adresa.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Heslo</label>
                        <input ng-model="signUpData.password" name="password" type="password" required
                               minlength="6"/>
                        <div ng-messages="signUpForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                Prosím, zadejte své heslo. Minimalně 6 znaku.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Potvrďte heslo</label>
                        <input ng-model="signUpData.password_confirmation" name="password_confirmation"
                               type="password" required minlength="6"
                               ng-disabled="signUpForm.password.$invalid"/>
                        <div ng-messages="signUpForm.password_confirmation.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                Prosím, potvrďte své heslo. Minimalně 6 znaku.
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <div flex-order="2" ng-if="isSignUpLoading">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-dialog-actions layout="row" flex-order="3">
            <md-button class="sign-up-button" type="submit" ng-disabled="signUpForm.$invalid || isSignUpLoading">
                Zaregistrovat
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()">
                Zrušit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>